 .first__slider-roll {
	margin-top: 60px;
	position: relative;
 }
 .second__slider {
	position: relative;
 }
 .container {
	max-width: 1520px;
	width: 100%;
	margin: 0 auto;
 }
 .first__slider-slide {
	display: flex !important;
	align-items: center;
	justify-content: center;
	transition: .3s ease all;
 

}
.wrapper-slide {
	position: relative;
}
 .overlay__first-slider {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 4px;
	top: 0;
	background-color: #00000067;
	border-radius: 15px;
	transition: .3s ease all;
 }
 .fist_slider-target .slick-track {
	display: flex;
	align-items: center;
	min-height: 564px;
 }
 .first__slider-slide img {
	max-width: 630px;
	max-height: 440px ;
	transition: .3s ease all;
 }
 .fist_slider-target .slick-active  .overlay__first-slider{
	opacity: 0;
 }
 .fist_slider-target .slick-active img{
	max-width: 990px;
	max-height: 560px;
 
 }
 .buttonSlider {
	cursor: pointer;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
	left: 160px;
 
 }
 .buttonSlider svg path{
	transition: .3s ease all;
 }
 .buttonSlider:hover svg path{
	fill: rgb(255, 255, 255);
 }
 .slick-active .first__title-slider {
	position: absolute;
	left: 50px;
	top: 90px;
	font-size: 37px;
	font-weight: 600;
	line-height: 60px;
	color: #fff;
	transition: .3s ease all;

 }
 .slick-active .first__desc-slider {
	position: absolute;
	left: 50px;
	top: 280px;
	font-size: 22px;
	transition: .3s ease all;

	color: #c4c4c4;
}
.first__title-slider {
	position: absolute;
	left: 50px;
	top: 40px;
	font-size: 28px;
	font-weight: 600;
	line-height: 50px;
	color: #b4b4b4;
	transition: .3s ease all;

 }
 .navSlider-item {
	width: 160px;
	height: 3px;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 10px;
	background-color: #969696;
 }
 
.first__desc-slider {
	position: absolute;
	
	left: 50px;
	top: 200px;
	font-size: 15px;
	transition: .3s ease all;

	color: #818181;
}
.next-button {
	left: unset !important;
	right: 160px !important;
}
.nav__slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1050px;
	margin: 40px auto 0 auto;
}
.activeDot {
	background-color: black !important;
}

/* //.fist_slider-target .slick-active img */
 /* /swiper-slide-active */
 
 .slick-dots {
	bottom: -50px !important;
 }
 .grocery {
	position: relative;
	margin-top: 70px;
 }
 .grocery__title {
	font-size: 30px;
 
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
 }
 .grocery__title img {
	margin-right: 20px;
 }
 .slide__grocery-item {
	position: relative;
	background-color: #F3DEC8;
	border-radius: 20px;
	box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.25);
	max-width: 330px;
	min-height: 430px;
	margin: 0 20px 40px 20px;
 
 }
 .slide__grocery-item img {
	border-radius: 20px 20px 0 0 ;
	height: 270px;
	width: 100%;
	object-fit: cover;
 }
 .slick-list {
	padding:0 24% 0 24% !important;
}
 .slide__grocery-title {
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #000;
	font-weight: 500;
	margin: 15px 0 10px 0;
 }
 .info__slide {
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 0 25px;
 }
 .info__slide button {
	background-color: #F3EBE0;
	border: none;
	padding: 15px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	color: #3A3A3A;
	font-size: 12px;
	height: 39px;
	letter-spacing: 0.03em;
	transition: .3s ease all;
	cursor: pointer;
 }
 .info__slide button:hover { 
	background-color: #dfd5c8;
 }
 .info__slide button svg {
	margin-right: 10px;
 }
 .info__slide p{
	font-size: 24px;
	line-height: 29px;
	color: #292929;
	font-weight: 600;
 }
 
 


 
.groceryTreeOne {
	position: absolute;
	left: 0;
	top: -60px;
	z-index: -1;
}
.groceryTreeTwo {
	position: absolute;
	right: 0;
	z-index: -1;

}
.swiper-slide .overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 20px;
	background: #00000048;
}
 
.swiper-slide.swiper-slide-prev .overlay {
	opacity: 0 !important;
	z-index: -100;
}
.swiper-slide.swiper-slide-active .overlay {
	opacity: 0 !important;
	z-index: -100;
}
.swiper-slide.swiper-slide-next .overlay {
	opacity: 0 !important;
	z-index: -100;
}
.slider__init {
	padding-top: 10px !important;
	margin-bottom: 50px;
}



/* HEADER */
 
.header__top {
 
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	align-items: center;
 
	left: 0px;
	top: 0px;
	border-radius: 0px;
	background-color: #F3EBE0;
	display: flex;
	justify-content: space-around;
	position: sticky;
	top: 0;
 
	z-index: 11;
 }
 
 @media (max-width: 900px) {
	.header__logo img {
	  margin-left: 12.5%;
	}
	.header__logo div {
	  margin-left: 12.5%;
	}
	.header__inner button {
	  width: 125px;
	  font-size: 12px;
	}
 }
 .header__inner {
 
	display: flex;
	justify-content: space-around;
	width: 30%;
 
 }
 
 .header__item {
	 
	margin: 0px 0px 0px 0px;
	text-align: center;
 
	border: 0px;

	background-color: transparent;
 
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 0.1em;
 
	cursor: pointer;
	transition: all .3s ease;
 
 }
 
 .header__item:hover {
 
	color: #7a7a7a;
 }
 
 .header__logo {
	display: flex;
	flex-direction: column;
	min-width: 225px;
	height: 90px;
	justify-content: center;
	margin: 5px;
	background: url("./img/logo.png") 0 0/100% 100%;
	object-fit: cover;
	transition: all 1s;
	border-radius: 20px;
 }
 .header__logo a {
	display: flex;
	text-decoration: none;
	align-items: center;
	flex-direction: column;
 }
 
 .header__logo:hover {
	background-color: #000;
	border-radius: 20px;
	transform: scale(1.025);
 }
 
 .header__btn {
	cursor: pointer;
	color: #000000;
	border-radius: 20px;
	transition: all 1s;
 }
 
 .inst {
	align-self: center;
	justify-self: center;
	opacity: 0;
	transition: all 1s;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 50%;
 }
 
 .inst__img {
	height: 40px;
	width: 40px;
 }
 
 .inst__title {
	opacity: 0;
	transition: all 1s;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #F3E5CE;
 }
 
 .header__logo:hover .inst {
	opacity: 1;
 }
 .header__logo:hover .inst__title {
	opacity: 1;
 }
 
 .mobile-menu {
	display: none;
 }
 
 .menu-btn {
	display: none;
	border: none;
}
 
 @media (max-width: 750px) {
	.menu-btn {
	  display: block;
	  
	}
	.header__inner {
	  display: none;
	}
	.mobile-menu {
	  display: block;
	}
	.header__logo {
	  height: 100px;
	}
 }
 .mobile-menu {
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 10;
	transform: translateY(-350px);
	transition: all .3s ease;
 
 }
 
 .mobile-menu.active {
	transform: translateY(-45px);
 }
 
 .menu-btn {
	position: relative;
	width: 40px;
	height: 30px;
	margin-right: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	z-index: 15;
	background-color: transparent;
 }
 
 .menu-btn span {
	position: absolute;
	width: 100%;
	left: 0px;
	height: 3px;
	border-radius: 10px;
	background-color: #000;
	transition: transform 0.3s ease, opacity 0.3s ease;
 }
 
 .menu-btn span:nth-child(1) {
	top: 2px;
 }
 
 .menu-btn span:nth-child(2),
 .menu-btn span:nth-child(3) {
	top: 13px;
 }
 
 .menu-btn span:nth-child(4) {
	top: 24px;
 }
 
 .menu-btn.active span:nth-child(1),
 .menu-btn.active span:nth-child(4) {
	top: 2px;
	transform: translateY(13px) rotate(45deg);
 }
 
 .menu-btn.active span:nth-child(2),
 .menu-btn.active span:nth-child(3) {
	top: 2px;
	transform: translateY(13px) rotate(-45deg);
 }
 
 .menu-btn.active span:nth-child(3) {
	opacity: 0;
	transition: all 0s;
 }
 
 .menu-btn.active:nth-child(2) {
	opacity: 0;
 }
 
 .menu-btn.active span:nth-child(3) {
	transform: translateY(-13px) rotate(-45deg);
 }
 
 .mobile-menu__list {
	display: flex;
	flex-direction: column;
 
 
 
	position: absolute;
	top: 110px;
	width: 100%;
	position: fixed;
 
 }
 
 .mobile-menu__item {
 
	min-width: 100%;
	text-align: center;
	border: none;
	padding: 15px;
	background-color: #F3EBE0;
	font-weight: 500;
	font-size: 14px;

	cursor: pointer;
 }
 .mobile-menu__item:last-child {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
 }
 
 .div1 {
	display: block;
 }
 
 .footer {
 
	box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
	height: 200px;
	max-width: 2000px;
	background-color: #F3EBE0;
 
 }
 
 .footer__item {
	display: flex;
	justify-content: space-around;
	padding-top: 35px;
 }
 
 .footer__inst:hover {
	transform: scale(1.1);
 }
 
 .footer__inst {
	display: inline-block;
	transition: all 1s;
 }
 
 .footer__inst-img {
	width: 60px;
	height: 55px;
	padding: 0px 15px;
 }
 
 .footer__title {
	text-align: center;
	color: #545454;
	text-decoration: underline;
 }
 
 .name {
	padding-top: 45px;

	font-weight: 500;
 }
 
 .modal {
	transition: all 1s;
	background-color: #F3E5CE;
	transform: translateY(-1000px);
	margin-left: 35%;
	position: absolute;
	width: 450px;
	height: 250px;
	background: #F3E5CE;
	border-radius: 20px;
 }
 
 .modal__inner {
	margin: 15px;
 }
 
 .modal__title {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
 }
 
 .modal__close {
	float: right;
	display: inline-block;
	background-color: #F3E5CE;
	cursor: pointer;
	font-size: 18px;
 }
 
 .modal__info {
	height: 50px;
	margin: 40px 60px 0px;
	border-radius: 20px;
	text-align: center;
 }
 
 .modal__info-1 {
	border-radius: 20px;
	border: 0px;
	height: 45px;
	width: 250px;
 }
 
 .modal__submit {
	margin-left: 35%;
	margin-top: 15px;
	margin-bottom: 7px;
	font-size: 18px;
	padding: 7.5px 15px 5px;
	background-color: #a89d8c;
	color: #000000;
	border-radius: 20px;
	transition: all 1s;
 }
 
 .modal__submit:hover {
	transform: scale(1.1);
 }
 



 /* CLOSE */


.grocery__nav-second-slider {
	display: flex;
	justify-content: center;
}
.grocery__nav-second-slider button {
	color: #000;
	padding: 10px 18px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: .3s ease all;
}
.grocery__nav-second-slider button:hover {
	background-color: #ffddad;
}
.activeButton {
	border-bottom: 1px solid #000 !important;
}
.second__slider-items {
	overflow-x: auto;
    white-space: nowrap;
 
}
.second__slider-block {
	display: flex;
	flex-wrap: wrap;
}
.slick-dots .slick-active {
	top: unset !important;
	left: unset !important;
	right: unset !important;
}
@media screen and (max-width: 1600px) {
	.slick-list {
		padding:0 20% 0 20% !important;
	}
}
@media screen and (max-width: 1510px) {
	.groceryTreeOne {
		height: 300px;
		top: -10px;
	}
	.groceryTreeTwo {
		height: 400px;
	}
	.fist_slider-target .slick-active img{
		max-width: 800px;
		max-height: 560px;
	 
	 }
	 .fist_slider-target .slick-track {
		min-height: 500px;
	 }
	 .first__slider-slide img {
		max-width: 530px;
		max-height: 400px ;
		 
	 }
	 .slick-active  .first__title-slider {
		font-size: 28px;
		line-height: 45px;
	 }
	 .slick-active  .first__desc-slider {
		font-size: 16px;
		top: 240px;
	 }
	 .first__title-slider {
		font-size: 20px;
		line-height: 35px;
	 }
	 .first__desc-slider {
		font-size: 13px;
		top: 150px;
	 }
}
 
@media screen and (max-width: 1250px) {
	.first__slider-roll {
		margin-top: 20px;
	}
	.navSlider-item {
		width: 140px;
	}
	.nav__slider {
		max-width: 920px;
	}
	.fist_slider-target .slick-track {
		min-height: 410px;
	 }
	 .fist_slider-target .slick-active img{
		max-width: 700px;
		max-height: 520px;
	 
	 }
	 .fist_slider-target .slick-active {
		font-size: 26px;
		line-height: 45px;
		top: 50px;
	 }
	 .fist_slider-target .slick-active {
		font-size: 14px;
		top: 220px;
	 }
}
@media screen and (max-width: 1160px) {
	.header__top {
		justify-content: space-between;
	}
	.header__inner {
		width: 50%;
	}
	.grocery {
		margin-top: 60px;
	}
	.grocery__title {
		font-size: 25px;
	}
	.grocery__title img {
		height: 30px;
	}
	.slide__grocery-item img {
		height: auto;
		max-height: 220px;
	 }
	 .slide__grocery-title {
		font-size: 16px;
	 }
 
	.info__slide {
		padding: 0 10px;
	}
	.info__slide p {
		font-size: 20px;
	}
	.slide__grocery-item {
		width: 240px;
		min-height: auto;
		margin: 0 5px 20px 5px;
	}
	.navSlider-item {
		width: 100px;
	}
	.nav__slider {
		max-width: 680px;
	}
	.fist_slider-target .slick-track {
		min-height: 360px;
	 }
	 .fist_slider-target .slick-active img{
		max-width: 600px;
		max-height: 470px;
	 
	 }
	 .first__slider-slide img {
		max-width: 450px;
		max-height: 400px ;
		 
	 }
	 .first__title-slider {
		font-size: 16px;
		line-height: 30px;
	 }
	 .first__desc-slider {
		font-size: 12px;
 
	 }
	 .buttonSlider {
		left: 30px;
	 }
	 .next-button {
		right: 30px !important;
	 } 
	 .slick-active .first__title-slider {
		font-size: 23px;
		line-height: 40px;
		top: 40px;
	 }
	 .slick-active .first__desc-slider {
		font-size: 13px;
		top: 190px;
	 }
}
@media screen and (max-width: 880px) {
	.slick-dots {
		bottom: -20px !important;
	}
	.grocery__nav-second-slider button {
		font-size: 12px;
		padding: 4px 10px;

	}
	.header__logo {
		height: 55px;
		min-width: 140px;
		object-fit: cover;
	}
	.inst__img {
		height: 15px;
		width: 15px;
	}
	.inst__title {
		font-size: 14px;
	}
 
	.nav__slider {
		margin-top: 10px;
	}
	.grocery {
		margin-top: 30px;
	}
	.navSlider-item {
		width: 80px;
	}
	.nav__slider {
		max-width: 540px;
	}
	.fist_slider-target .slick-track {
		min-height: 310px;
	 }
	.fist_slider-target .slick-active img{
		max-width: 500px;
		max-height: 430px;
	 
	 }
	 .first__slider-slide img {
		max-width: 350px;
		max-height: 380px ;
		 
	 }
	 .slick-active .first__title-slider {
		font-size: 20px;
		line-height: 38px;
		top: 20px;
	 }
	 
	 .first__title-slider {
		font-size: 13px;
		line-height: 26px;
	 }
	 .first__desc-slider {
		font-size: 10px;
		top: 130px;
	 }
	 .buttonSlider svg{
		height: 30px;
		width: 30px;
	 }
	 .next-button svg{
		height: 30px;
		width: 30px;
	 }
}
@media screen and (max-width: 760px) {
	.grocery__nav-second-slider button {
		font-size: 10px;
		padding: 4px 5px;
		margin-bottom: 5px;
	}
	.slide__grocery-item {
		width: 200px;
	}
	.slide__grocery-item img {
		max-height: 180px;
	}
	 
	.info__slide button {
		font-size: 10px;
		padding: 7px;
		height: 35px;
	}
	.info__slide button svg {
		margin-right: 5px;
		height: 15px;
		width: 15px;
	}
	.slide__grocery-title {
		font-size: 13px;
		line-height: 20px;
	}
	.info__slide p {
		margin-bottom: 20px;
		margin-top: 0;
		font-size: 14px;
	}
	.fist_slider-target .slick-track {
		min-height: 250px;
	 }
	.fist_slider-target .slick-active img{
		max-width: 420px;
		max-height: 400px;
	 
	 }
	 .first__slider-slide img {
		max-width: 300px;
		max-height: 300px ;
		 
	 }
	 .slick-active .first__title-slider {
		font-size: 20px;
		line-height: 34px;
		left: 30px;
		top: 10px;
	 }
	 .slick-active .first__desc-slider {
		left: 30px;
		top: 130px;
	 }
	 .first__title-slider {
		font-size: 13px;
		line-height: 26px;
		left: 20px;
		top: 10px;
	}
	 .first__desc-slider {
		font-size: 10px;
		top: 130px;
		left: 20px;
		top: 100px;
	 }
} 
@media screen and (max-width: 640px) {
	.groceryTreeOne {
		height: 200px;
		top: 10px;
	}
	.groceryTreeTwo {
		height: 300px;
		top: 0;
	}
 
 
	.grocery__title {
		font-size: 20px;
	}
	.grocery__title img {
		height: 23px;
		margin-right: 4px;
	}
	.slide__grocery-item {
		/* box-shadow: 0.1px; */
		width: 170px ;
	}
	.slide__grocery-item img {
		height: 140px;
	}
	.info__slide p {
		font-size: 12px;
	}
	.info__slide button {
		font-size: 7px;
	}
	.slide__grocery-title {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.navSlider-item {
		width: 60px;
	}
	.nav__slider {
		max-width: 400px;
	}
	.fist_slider-target .slick-track {
		min-height: 210px;
	 }
	.fist_slider-target .slick-active img{
		max-width: 360px;
		max-height: 300px;
	 
	 }
	 .first__slider-slide img {
		max-width: 240px;
		max-height: 200px ;
		 
	 }
	 .slick-active .first__title-slider {
		font-size: 16px;
		line-height: 28px;
 
		top: 10px;
	 }
	 .slick-active .first__desc-slider {
 
		top: 130px;
		font-size: 12px;
	 }
	 .first__title-slider {
		font-size: 10px;
		line-height: 20px;
 
		top: 10px;
	}
	 .first__desc-slider {
		font-size: 8px;
		top: 80px;
 

	 }
}
@media screen and (max-width: 540px) {
	.second__slider .swiper-slide {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.footer__inst-img {
		height: 40px;
		width: 40px;
	}
	.footer__inst {
		flex-direction: column;
		display: flex;
		align-items: center;
		font-size: 13px;
	}
	.footer__inst img {
		margin-bottom: 5px;

	}
	.name {
		padding-top: 30px;
		font-size: 13px;
	}
	.footer {
		height: 170px;
	}
}

@media screen and (max-width: 530px) {
	.slick-list {
		padding:0 15% 0 15% !important;
	}
	.buttonSlider svg{
		height: 25px;
		width: 25px;
	 }
	 .buttonSlider {
		left: 0px;
	 }
	 .next-button {
		right: 0 !important;
	 }
	 .next-button svg{
		height: 25px;
		width: 25px;
	 }
}
@media screen and (max-width: 450px) {
	.grocery__nav-second-slider  {
 
		overflow-x: auto;
		white-space: nowrap;
	}
	.grocery__nav-second-slider button:first-child {
		margin-left: 200px;
	}
	.grocery__nav-second-slider button {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 12px;
	}
	.grocery__nav-second-slider::-webkit-scrollbar {
		height: 6px !important;          
	}
	
	.grocery__nav-second-slider::-webkit-scrollbar-track {
		background: #f5dbba;
	}
	.grocery__nav-second-slider::-webkit-scrollbar-thumb {
		background-color: #f4ce9d;
		border-radius: 10px;
	}
	 .grocery {
		overflow-x: hidden;
	 }
	.groceryTreeOne {
		height: 140px;
		top: 20px;
	}
	.groceryTreeTwo {
		height: 230px;
		top: 10px;
	}
	.navSlider-item {
		width: 40px;
	}
	.nav__slider {
		max-width: 280px;
	}
	.fist_slider-target .slick-track {
		min-height: 180px;
	 }
	 .fist_slider-target .slick-active {
		font-size: 14px;
		line-height: 28px;
		left: 15px;
		top: 5px;
	 }
	 .slick-active .first__desc-slider {
 
		top: 80px;
		left: 15px;
		font-size: 12px;
	 }
	 .slick-active .first__title-slider {
		left: 15px;
		font-size: 14px;
	 }
	.fist_slider-target .slick-active img{
		max-width: 300px;
		max-height: 300px;
	 
	 }
	 .first__slider-slide img {
		max-width: 230px;
		max-height: 200px ;
		 
	 }
}


@media screen and (max-width: 390px) {
	.slick-list {
		padding:0 12% 0 12% !important;
	}
}
@media screen and (max-width: 370px) {
	.grocery__nav-second-slider button:first-child {
		margin-left: 200px;
	}
	.slide__grocery-item {
		width: 145px;
	}
	.slide__grocery-title {
		font-size: 10px;
		line-height: 17px;
	}
	.info__slide {
		padding: 0 5px;
	}
	.fist_slider-target .slick-track {
		min-height: 145px;
	 }
	.fist_slider-target .slick-active img{
		max-width: 240px;
		max-height: 240px;
	 
	 }
	 .first__slider-slide img {
		max-width: 200px;
		max-height: 200px ;
		 
	 }
	 .slick-active .first__title-slider {
		font-size: 12px;
		line-height: 20px;
		 
	 }
	 .slick-active .first__desc-slider {
 
		
		
		font-size: 10px;
	 }
	 .first__title-slider {
		font-size: 10px;
		line-height: 20px;
		left: 10px;
		top: 0px;
	}
	 .first__desc-slider {
		font-size: 8px;
		top: 60px;
		left: 10px;
 

	 }
 
}